/* .newcard {
    padding: 1rem 1.5rem;
}
.text-muted {
    color: #8898aa!important;
}
.text-uppercase {
    font-size: .8125rem;
    text-transform: uppercase!important;
}
.countuse {
    font-size: 1.25rem;
    font-weight: 600!important;
} */
.inputclass {
    height: 35px;
    padding-left: 10px;
    width: 228px;
}
.verify {
    width: 120px;
    height: 30px;
    font-size: 13px;
    border: none;
    border-radius: 3px;
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;

}
.matbot6 {
    margin-bottom: 6%;
}
.text-muted {
    color: #8898aa!important;
    font-size: .8125rem;
}
.text-uppercase {
    text-transform: uppercase!important;
    padding-bottom: 10px;
}
.font-weight-bold {
    font-weight: 600!important;
    font-size: 1.25rem;
}
.disclass {
    display: flex;
}
@media (max-width: 767px)
{
.disclass {
    display: inline;
}
}
.font20 {
    font-size: 20px;
}
.cart-title {
    padding-bottom: 14px;
}
.bg-yellow {
    background-color: #ffd600!important;
}
.icon-shape {
    display: inline-flex;
    padding: 12px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 3rem;
    height: 3rem;
}

.rounded-circle {
    border-radius: 50%!important;
}
.bg-danger {
    background-color: #f5365c!important;
}