<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>




<div class="matbot6">

  <div class="disclass">
    <div _ngcontent-c5="" class="col-xl-3 col-lg-6">
      <div _ngcontent-c5="" class="card card-stats mb-4 mb-xl-0">
        <div _ngcontent-c5="" class="card-body">
          <div _ngcontent-c5="" class="row">
            <div _ngcontent-c5="" class="col">
              <h5 _ngcontent-c5="" class="card-title text-uppercase text-muted mb-0">Balance</h5><span _ngcontent-c5=""
                class="h2 font-weight-bold mb-0">{{ AllUser && AllUser.walletBalance ? AllUser.walletBalance : 0   }}</span>
            </div>
            <div _ngcontent-c5="" class="col-auto">
              <div _ngcontent-c5="" class="icon icon-shape bg-danger text-white rounded-circle shadow"><i _ngcontent-c5=""
                  class="fa fa-google-wallet font20"></i></div>
            </div>
          </div>
          <p _ngcontent-c5="" class="mt-3 mb-0 text-muted text-sm"><span _ngcontent-c5="" class="text-success mr-2"><i
                _ngcontent-c5="" class="fa fa-arrow-up"></i> Rs</span><span _ngcontent-c5="" class="text-nowrap">Up to
              Date</span></p>
        </div>
      </div>
    </div>
    <div _ngcontent-c5="" class="col-xl-3 col-lg-6">
      <div _ngcontent-c5="" class="card card-stats mb-4 mb-xl-0">
        <div _ngcontent-c5="" class="card-body">
          <div _ngcontent-c5="" class="row">
            <div _ngcontent-c5="" class="col">
              <h5 _ngcontent-c5="" class="card-title text-uppercase text-muted mb-0">Request</h5><span _ngcontent-c5=""
                class="h2 font-weight-bold mb-0">2,356</span>
            </div>
            <div _ngcontent-c5="" class="col-auto">
              <div _ngcontent-c5="" class="icon icon-shape bg-warning text-white rounded-circle shadow"><i
                  _ngcontent-c5="" class="fa fa-snowflake-o font20"></i></div>
            </div>
          </div>
          <p _ngcontent-c5="" class="mt-3 mb-0 text-muted text-sm"><span _ngcontent-c5="" class="text-danger mr-2"><i
                _ngcontent-c5="" class="fa fa-arrow-up"></i> count </span><span _ngcontent-c5="" class="text-nowrap">No.
              of files</span></p>
        </div>
      </div>
    </div>

    <div _ngcontent-c5="" class="col-xl-3 col-lg-6">
      <div _ngcontent-c5="" class="card card-stats mb-4 mb-xl-0">
        <div _ngcontent-c5="" class="card-body">
          <div _ngcontent-c5="" class="row">
            <div _ngcontent-c5="" class="col">
              <h5 _ngcontent-c5="" class="card-title text-uppercase text-muted mb-0">Retailers</h5><span _ngcontent-c5=""
                class="h2 font-weight-bold mb-0">{{AllUser && AllUser.length ? AllUser.length : 0 }}</span>
            </div>
            <div _ngcontent-c5="" class="col-auto">
              <div _ngcontent-c5="" class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                <i class="fa fa-user-circle-o font20"></i>
              </div>
            </div>
          </div>
          <p _ngcontent-c5="" class="mt-3 mb-0 text-muted text-sm"><span _ngcontent-c5="" class="text-warning mr-2"><i
                _ngcontent-c5="" class="fa fa-arrow-up"></i> count</span><span _ngcontent-c5="" class="text-nowrap">No.of
              Retailers</span></p>
        </div>
      </div>
    </div>
  </div>

</div>

<div>
  <input class="inputclass" type="string" [(ngModel)]="email" placeholder=""> <br><br>
 <button class="verify" (click)="verify('v')">Verify</button> <br><br>
 <button class="verify" (click)="verify('r')">Reject</button> <br>
</div>
<br>
<app-growl-show #growl></app-growl-show>

<div class="main-card mb-3 card">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Customer Reports</div>
  </div>
  <div class="table-responsive">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
      <tr>
        <th class="text-center">S.no</th>
        <th class="text-center">Avatar</th>
        <th class="text-center">Name</th>
        <th class="text-center">D.O.B</th>
        <th class="text-center">Email</th>
        <th class="text-center">Mobile Number</th>
        <th class="text-center">Wallet balance</th>
        <th class="text-center">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of AllUser; let i = index">
        <td class="text-center text-muted" style="width: 80px;"> {{ i +1}}</td>
        <td class="text-center" style="width: 80px;">
          <img width="40" class="rounded-circle" src="{{ u.profilePic ? u.profilePic : defaultimg }}" alt="">
        </td>
        <td class="text-center"><a [routerLink]="">{{ u.firstName ?  u.firstName : '-'}}</a></td>
        <td class="text-center"><a [routerLink]=""> {{ u.dob ? u.dob : '-' }}</a></td>
        <td class="text-center">
          {{u.emailId}}
        </td>
        <td class="text-center">
          <span class="pr-2 opacity-6">
            <i class="fa fa-business-time"></i>
          </span>
          {{ u.MobileNumber ?  u.MobileNumber : '-' }}
        </td>
        <td class="text-center">
            {{u.walletBalance ? u.walletBalance : 0}}
          </td>
          <td class="text-center">
            <span *ngIf="u.status === 0"> - </span>
            <span *ngIf="u.status === 1"> Pending </span>
            <span *ngIf="u.status === 2"> Verifed </span>
            <span *ngIf="u.status === 3"> Reject </span>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="d-block p-4 text-center card-footer">
    <button class="btn-pill btn-shadow btn-wide fsize-1 btn btn-dark btn-lg">
      <span class="mr-2 opacity-7">
          <i class="fa fa-cog fa-spin"></i>
      </span>
      <span class="mr-1">View Complete Report</span>
    </button>
  </div>
</div>

