<div>

  <div class="disclass">
    <div _ngcontent-c5="" class="col-xl-3 col-lg-6">
      <div _ngcontent-c5="" class="card card-stats mb-4 mb-xl-0">
        <div _ngcontent-c5="" class="card-body">
          <div _ngcontent-c5="" class="row">
            <div _ngcontent-c5="" class="col">
              <h5 _ngcontent-c5="" class="card-title text-uppercase text-muted mb-0">Balance</h5><span _ngcontent-c5=""
                class="h2 font-weight-bold mb-0">500</span>
            </div>
            <div _ngcontent-c5="" class="col-auto">
              <div _ngcontent-c5="" class="icon icon-shape bg-danger text-white rounded-circle shadow"><i _ngcontent-c5=""
                  class="fa fa-google-wallet font20"></i></div>
            </div>
          </div>
          <p _ngcontent-c5="" class="mt-3 mb-0 text-muted text-sm"><span _ngcontent-c5="" class="text-success mr-2"><i
                _ngcontent-c5="" class="fa fa-arrow-up"></i> Rs</span><span _ngcontent-c5="" class="text-nowrap">Up to Date</span></p>
        </div>
      </div>
    </div>
    <div _ngcontent-c5="" class="col-xl-3 col-lg-6">
      <div _ngcontent-c5="" class="card card-stats mb-4 mb-xl-0">
        <div _ngcontent-c5="" class="card-body">
          <div _ngcontent-c5="" class="row">
            <div _ngcontent-c5="" class="col">
              <h5 _ngcontent-c5="" class="card-title text-uppercase text-muted mb-0">Request</h5><span _ngcontent-c5=""
                class="h2 font-weight-bold mb-0">2,356</span>
            </div>
            <div _ngcontent-c5="" class="col-auto">
              <div _ngcontent-c5="" class="icon icon-shape bg-warning text-white rounded-circle shadow"><i
                  _ngcontent-c5="" class="fa fa-snowflake-o font20"></i></div>
            </div>
          </div>
          <p _ngcontent-c5="" class="mt-3 mb-0 text-muted text-sm"><span _ngcontent-c5="" class="text-danger mr-2"><i
                _ngcontent-c5="" class="fa fa-arrow-up"></i> count </span><span _ngcontent-c5="" class="text-nowrap">No. of files</span></p>
        </div>
      </div>
    </div>

    <div _ngcontent-c5="" class="col-xl-3 col-lg-6">
      <div _ngcontent-c5="" class="card card-stats mb-4 mb-xl-0">
        <div _ngcontent-c5="" class="card-body">
          <div _ngcontent-c5="" class="row">
            <div _ngcontent-c5="" class="col">
              <h5 _ngcontent-c5="" class="card-title text-uppercase text-muted mb-0">Retailers</h5><span _ngcontent-c5=""
                class="h2 font-weight-bold mb-0">924</span>
            </div>
            <div _ngcontent-c5="" class="col-auto">
              <div _ngcontent-c5="" class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                  <i class="fa fa-user-circle-o font20"></i>
                </div>
            </div>
          </div>
          <p _ngcontent-c5="" class="mt-3 mb-0 text-muted text-sm"><span _ngcontent-c5="" class="text-warning mr-2"><i
                _ngcontent-c5="" class="fa fa-arrow-up"></i> count</span><span _ngcontent-c5="" class="text-nowrap">No.of Retailers</span></p>
        </div>
      </div>
    </div>
  </div>

</div>