<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHover()"
     (mouseout)="sidebarHover()">
  <div class="app-header__logo">
    <div class="logo-src">FASTag</div>
    <div class="header__pane ml-auto">
      <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
              [ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar()">
        <span class="hamburger-box">
            <span class="hamburger-inner"> </span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
      <perfect-scrollbar [autoPropagation]="true">
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <ngb-accordion *ngIf="isAdmin" [destroyOnHide]="false" [closeOthers]="true" [activeIds]="extraParameter">
              <ngb-panel> 
                <ng-template ngbPanelHeader>
                  <div class="vsm-header">Main Navigation</div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="dashboardsMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-rocket"></i>
                    <span class="vsm-title">Dashboards</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item"><a routerLink="" routerLinkActive="active-item"
                                               [routerLinkActiveOptions]="{exact: true}" class="vsm-link"><span
                        class="vsm-title">Analytics</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
  
            </ngb-accordion>
            <div *ngIf="!isAdmin" class="vsm-header">Dashboard</div>
            <div *ngIf="!isAdmin" class="vsm-item">
              <a routerLink="/userdashboard" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon pe-7s-graph2"></i>
                <span class="vsm-title">Dashboard</span>
              </a>
            </div>
            <div class="vsm-header">Profile</div>
            <div class="vsm-item">
              <a routerLink="/profile" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon pe-7s-graph2"></i>
                <span class="vsm-title">Profile</span>
              </a>
            </div>
            <div class="vsm-header">Services</div>
            <div class="vsm-item">
              <a routerLink="/signup" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon pe-7s-graph2"></i>
                <span class="vsm-title">FASTag Registration Form</span>
              </a>
            </div>
            <div class="vsm-header">Topup</div>
            <div class="vsm-item">
              <a routerLink="/topup" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon pe-7s-graph2"></i>
                <span class="vsm-title">Topup</span>
              </a>
            </div>
            <div class="vsm-header">Order</div>
            <div class="vsm-item">
              <a routerLink="/request" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon pe-7s-graph2"></i>
                <span class="vsm-title">Order</span>
              </a>
            </div>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>
