<div class="mainform">
        <h3 class="head3"> Order Request </h3>
        <form [formGroup]="curlForm" *ngIf="!isLoading" (ngSubmit)="onSubmit()">
                <app-growl-show #growl></app-growl-show>
            <div class="coflex">
                <span class="comlabel"> Car / Jeep / Van and similar mini light Commercial Vehicle   </span>
                <input type="string" placeholder="Enter no of count" formControlName="miniLightCommercialVehicle" class="inputbox">
            </div>
            <div class="flex commar">
                <div class="innerflex">
                    <span class="comlabel"> Light Commercial Vehicle   </span>
                    <input type="string" placeholder="Enter no of count" formControlName="lightCommercialVehicle" class="inputbox">
                </div>
                <div class="innerflex">
                    <span class="comlabel"> Three Axle Commercial Vehicles   </span>
                    <input type="string" placeholder="Enter no of count" formControlName="threeAxleCommercialVehicles" class="inputbox">                    <div class="err" *ngIf="curlForm.get('threeAxleCommercialVehicles').hasError('required') && curlForm.get('threeAxleCommercialVehicles').touched">
                        Chassis Number is required
                    </div>
                </div>
            </div>
    
            <div class="flex commar">
                <div class="innerflex">
                    <span class="comlabel"> Bus/Truck   </span>
                    <input type="string" placeholder="Enter no of count" formControlName="busTruck" class="inputbox">                    <div class="err" *ngIf="curlForm.get('busTruck').hasError('required') && curlForm.get('busTruck').touched">
                        Vehicle Number is required
                    </div>
                </div>
                <div class="coflex">
                    <span class="comlabel"> 4 to 6 Axle   </span>
                    <input type="string" placeholder="Enter no of count" formControlName="fourToSixAxle" class="inputbox">
                </div>
                <div class="coflex">
                    <span class="comlabel"> 7 or more Axle  </span>
                    <input type="string" placeholder="Enter no of count" formControlName="sevenPlusAxle" class="inputbox">
                </div>
                <div class="coflex">
                    <span class="comlabel"> Heavy Construction Machinery (HCM) / Earth Moving Equipment (EME)  </span>
                    <input type="string" placeholder="Enter no of count" formControlName="HCM_EME" class="inputbox">
                </div>
                <div class="innerflex">
                    <span class="comlabel"> Remarks   </span>
                    <textarea style="height: 120px;" placeholder="Remarks" formControlName="remarks" class="inputbox"> </textarea>
                </div>
            </div>
    
            <div class="btndiv">
                <button type="submit" class="topupbtn">Submit</button>
            </div>
        </form>

        <div class="mainload" *ngIf="isLoading">
            <div class="loadernews"></div>
        </div>
    
    
    </div>